* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

.slider {
    padding: 20px 0px 20px;
    max-width: 50rem;
    height: 100%;
    border: 4px rgb(116, 113, 113) solid;
    margin: 0 auto;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
}

.slider-block {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
}

.slider-block input {
    display: none;
}

/* SLIDER */

.container {
    overflow: hidden;
    border-radius: 20px;
}

.slider-wrapper {
    display: flex;
    width: 400%;
    position: relative;
    order: 0;
    transition: 1s;
}

.slide {
    width: 25%;
    opacity: 0;
    transition: 0.5s;

}

.slide img {
    width: 100%;
    height: auto;
}

/* NAME-CONTROL PANEL */

.name-contolPanel-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}


.slide-name {
    display: flex;
    flex-direction: column;
    height: 28px;
    overflow: hidden;
}

.slide-name label {
    font-size: 24px;
    color: white;
    opacity: 0;
    margin-left: 30px;
    order: 0;
    transform: rotate(-7deg) translate(-40px, 40px);
    transition: 0.5s;
}

.controls {
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.controls label {
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls label:hover {
    cursor: pointer;
}

.controls label:hover span {
    background-color: white;
    border: white solid 2px;
    transition: 0.4s;
}

.controls label:active span {
    background-color: rgb(252, 222, 222);
    border: rgb(252, 222, 222) solid 3px;
    transition: 0.4s;
}

.controls span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: rgb(154, 154, 255) solid 2px;
    background-color: rgb(154, 154, 255);
}

#switch1:checked~.name-contolPanel-wrapper #controls label:nth-child(1) span,
#switch2:checked~.name-contolPanel-wrapper #controls label:nth-child(2) span,
#switch3:checked~.name-contolPanel-wrapper #controls label:nth-child(3) span,
#switch4:checked~.name-contolPanel-wrapper #controls label:nth-child(4) span {
    background-color: rgb(70, 70, 70);
}

#switch1:checked~.name-contolPanel-wrapper #controls label:nth-child(1):hover span,
#switch2:checked~.name-contolPanel-wrapper #controls label:nth-child(2):hover span,
#switch3:checked~.name-contolPanel-wrapper #controls label:nth-child(3):hover span,
#switch4:checked~.name-contolPanel-wrapper #controls label:nth-child(4):hover span {
    border: white solid 2px;
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

#switch1:checked~.name-contolPanel-wrapper #slide-name label:nth-child(1),
#switch2:checked~.name-contolPanel-wrapper #slide-name label:nth-child(2),
#switch3:checked~.name-contolPanel-wrapper #slide-name label:nth-child(3),
#switch4:checked~.name-contolPanel-wrapper #slide-name label:nth-child(4) {
    order: -1;
    opacity: 1;
    margin-left: 0px;
    transform: rotate(0deg);
}

#switch1:checked~.container .slider-wrapper .slide1 {
    opacity: 1;
    order: -1;
    transform: rotate(720deg);
}

#switch2:checked~.container .slider-wrapper .slide2 {
    opacity: 1;
    order: -1;
    transform: rotate(720deg);
}

#switch3:checked~.container .slider-wrapper .slide3 {
    opacity: 1;
    transform: rotate(720deg);
    order: -1;
}

#switch4:checked~.container .slider-wrapper .slide4 {
    opacity: 1;
    order: -1;
    transform: rotate(720deg);
}

@media (max-width: 480px) {
    .name-contolPanel-wrapper {
        flex-direction: column-reverse;
        row-gap: 5px;
        height: auto;
    }

    .slider-block {
        max-width: 658px;
    }

    .slide-name {
       align-self: flex-start;
    }

    .slide-name label {
        font-size: 18px;
        color: white;
    }

}